@charset "UTF-8";

@media screen and (max-width: 768px) {
    .article1, .article2, .article3, .article4 {
        font-size: 20px;
    }
    .conteudo2 {
        padding-top: 0%;
        height: 0px;
    }

    .conteudo3 {
        padding-top: 70vh;
    }

    .conteudo4 {
        padding-top: 40vh;
    }

    .conteudo5 {
        padding-top: 70vh;
    }

    .download {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    * {
        font-size: 25px;
    }

    .conteudo0 {
        margin: 40px auto;
        width: 300px;
        height: 300px;
    }

    .conteudo1 {
        padding-top: 0vh;
    }

    .conteudo2 {
        padding-top: 0%;
        height: 0px;
    }

    .conteudo4 {
        padding-top: 40vh;
    }

    .conteudo5 {
        padding-top: 70vh;
    }

    .download {
        display: none;
    }
}

@media screen and (min-width: 1281px){
    .article1, .article2, .article3, .article4 {
        font-size: 30px;
    }

    .conteudo0 {
        margin: 40px auto;
        width: 300px;
        height: 300px;
    }

    .conteudo2 {
        padding-top: 0%;
        height: 0px;
        margin: 0px auto;
    }
}